@{
    ViewBag.Title = "About";
}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>TwentyTwoVisions - About Page</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="~/css/fontawesome.css" rel="stylesheet" />
    <link href="~/css/templatemo-finance-business.css" rel="stylesheet" />
    <link href="~/css/owl.css" rel="stylesheet" />

    <!--

    Finance Business TemplateMo

    https://templatemo.com/tm-545-finance-business

    -->
</head>

<body>
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Us</h1>
                    <span>Let's grow our commmunity together</span>
                </div>
            </div>
        </div>
    </div>

    <div class="more-info about-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="more-info-content">
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <div class="right-content">
                                    <span>we serve you to serve others</span>
                                    <h2>We are all about lifting the <em>communities </em> we call <em>home</em></h2>
                                    <p>
                                        you know the vibes.
                                        <br><br>insert something positive to say here
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="left-image">
                                    <img src="assets/images/about-image.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
