@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Events Reservation Was A Success</h1>
            </div>
        </div>
    </div>
</div>