
<!DOCTYPE html>
<html>
<head>

    <style>
        /* Always set the map height explicitly to define the size of the div
                   * element that contains the map. */
        #map {
            height: 100%;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: "Roboto", "sans-serif";
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNUqv6D-M9DKF2UAqZZUUTvTUGO3L1VrU&callback=initMap&libraries=&v=weekly"
            defer></script>

</head>
<body>

    @model IEnumerable<TwentyTwoVzn.Models.Service>



    <div id="map"></div>
    <script>
        var map;
        function initMap() {

             map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7,
                center: { lat: 11.5564, lng: 104.9282 },
            });
            var marker = new google.maps.Marker({
                position: { lat: 11.9924, lng: 105.4645 },
                map: map,
                icon: 'pin.png',
            });

        }
        //call marker function
        //addMarker({ lat: 11.5564, lng: 104.9282 });
        //addMarker({ lat: 11.2237, lng: 105.1259 });
        //addMarker({ lat: 13.3550, lng: 103.8552 });
        //addMarker({ lat: 11.9924, lng: 105.4645 });

        ////add marker function
        //function addMarker(coords) {
        //    var marker = new google.maps.Marker({
        //        position: coords,
        //        map: map,
        //        icon: 'pin.png',
        //    });
        //}
                
    </script>
</body>
</html>
