
<!DOCTYPE html>
<html>
<head>

    <style>
        /* Always set the map height explicitly to define the size of the div
                   * element that contains the map. */
        #map {
            height: 100%;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: "Roboto", "sans-serif";
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNUqv6D-M9DKF2UAqZZUUTvTUGO3L1VrU&callback=initMap&libraries=&v=weekly"
            defer></script>*@

</head>
<body>

    @model IEnumerable<TwentyTwoVzn.Models.Service>



    <div id="map"></div>
    <script>
       
        function initMap() {

            var center = { lat: -29.9566822, lng: 30.9192381 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: center,
            });

            //start marker
            const contentString1 =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                '<h1 id="firstHeading" class="firstHeading">Eyadini Lounge</h1>' +
                '<div id="bodyContent">' +
                "<p>Eyadini Lounge is one of KwaZulu-Natal’s most popular hangout venues and arguably, an important tourism hotspot for the province.</p>" +
                
                "</div>" +
                "</div>";

            const infowindow1 = new google.maps.InfoWindow({
                content: contentString1,
            });
            var position1 = { lat: -29.8587, lng: 31.0218 };
            const marker1 = new google.maps.Marker({
                position: position1,
                map,
                title: "resturant",
            });
            marker1.addListener("click", () => {
                infowindow1.open(map, marker1);
            });

            const contentString1 =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                '<h1 id="firstHeading" class="firstHeading">METRO GENTS LOUNGE</h1>' +
                '<div id="bodyContent">' +
                "<p>Nice meat, great djs, best place to hang out with ur friends bt this place needs renovations. - Zama Sangweni. </p>" +

                "</div>" +
                "</div>";

            const infowindow1 = new google.maps.InfoWindow({
                content: contentString1,
            });
            var position3 = { lat: -29.8587, lng: 31.0218 };
            const marker3 = new google.maps.Marker({
                position: position3,
                map,
                title: "resturant",
            });
            marker3.addListener("click", () => {
                infowindow1.open(map, marker3);
            });

            //End Markert
            const contentString2 =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                '<h1 id="firstHeading" class="firstHeading">Legends Barbershop Mega City</h1>' +
                '<div id="bodyContent">' +
                "<p>Legends Barbershop provides you with a professional grooming service throughout South Africa, Gaborone (Botswana) and soon touching down on international soil. We also offer the Exclusive Legendary Mobile Service that brings the Exclusive Legendary Experience directly to your doorstep.</p>" +
                
                "</div>" +
                "</div>";

            const infowindow2 = new google.maps.InfoWindow({
                content: contentString2,
            });
            var position2 = { lat: -29.8623481, lng: 31.0130304 };
            const marker2 = new google.maps.Marker({
                position: position2,
                map,
                title: "barber",
            });
            marker2.addListener("click", () => {
                infowindow2.open(map, marker2);
            });

        }
      
                
    </script>
</body>
</html>
